p, a, h1, button {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue';
    font-size: 18px;
    color: #1F2937;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-container p {
    color: #F9FAF8;
    font-weight: 700;
    font-size: 24px;
    flex: 1;
    margin-left: 85px; /* hard coded */
}

.header-container a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin: 10px;
    flex: 1;
}

.title-container {
    background-color: #1F2937;
    display: flex;
    gap: 60px;
    text-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 100px 0px 150px 0px;
}

#website-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    flex: 1;
    margin: 0;
}

.title-container p {
    font-size: 18px;
    color: #E5E7EB;
    text-align: left;
    max-width: 450px;
    flex: 1;
}

.title-container button {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    text-align: center;
    border: none;
    font-weight: 900;
    flex: 1;
    font-size: 18px;
}

.top-container {
    display: flex;
    flex-direction: column;
}

.info-container {
    padding: 20px;
    padding-bottom: 75px;
}
.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.image {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    max-width: 200px;
    text-align: center;
    align-items: center;
}

.image p {
    max-width: 170px;
}

.image .border {
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 100px;
    display: flex;
    justify-content: center;
}

.author-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote-container .quote {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    text-wrap: wrap;
    max-width: 720px;
    font-weight: 300;
    font: italic 300 2rem 'Roboto';
    text-align: left;
    margin: 0;
}

.author {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    padding: 0;
}



.footer-container {
    background-color: #1F2937;
}

.footer-container p {
    color: #E5E7EB;
    text-align: center;
    padding: 50px;
}